/*General*/

body {
    background: url("../images/bg-texture.png");
    background-size: auto;
    background-repeat: repeat;
    color: white;
    font-family: oracleSanRegular;
    font-size: 1em;
    /*  background: rgba(49, 45, 42);*/
}

h1,
h2,
h3 {
    font-family: georgia;
    color: white;
    padding: 0;
    margin: 0;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.top-decoration {
    height: 1rem;
    width: 100%;
    background: url("../images/topbar.png");
    background-repeat: repeat-x;
    background-size: contain;
}

main {
    max-width: 1280px;
    margin-top: 30px;
}


.divider-yellow {
    width: 50px;
    height: 5px;
    background: rgba(250, 205, 98);
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Buttons*/

.action-button {
    font-family: oracleSansBold;
    background: rgba(43, 98, 66);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    font-size: 1em;
    margin: 0 10px;
    border: none;
}

.action-button:hover {
    background: rgba(44, 89, 103);
}

/*Form Styling*/
li {
    list-style: none;
    font-family: oracleSansRegular;
    font-size: 1.5em;
}

li:hover {
    text-decoration: underline;
}
