<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--My CSS-->
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="top-decoration">&nbsp;</div>
    <main class="container">
        <section class="sign-in-box text-center">
            <h2 class="row">Enter Your Login Details</h2>
            <form action="/sessions" method="post">
                <div class="row username text-left">
                    <label class="" for="username">Username: </label>
                </div>
                <div class="row username">
                    <input class="" type="textarea" name="username">
                </div>
                <div class="row password text-left">
                    <label class="" for="password">Password: </label>
                </div>
                <div class="row password">
                    <input class="" type="password" name="password">
                </div>
                <div class="login row">
                    <input type="submit" value="Login">
                </div>
                <a class="" href="/users">
                    <div class="createUser row">
                        Create User
                    </div>
                </a>
                <a class="homepageText row" href="/">Back to Homepage</a>
            </form>
        </section>
    </main>
    <script>
    </script>
</body>



</html>
